<table class="table">
    <tr>
        <th>#</th>
        <th>Game</th>
        <th>Platform</th>
        <th>Release</th>
    </tr>
    <tr *ngFor="let game of games | pagination:{page:page, perPage:10}; let i = index">
        <td>{{(page -1) * 10 + i + 1}}</td>
        <td>{{game.game}}</td>
        <td>{{game.platform}}</td>
        <td>{{game.release}}</td>
    </tr>
</table>

<button type="button" name="button" (click)="nextPage()">next</button>
<button type="button" name="button" (click)="nextPage()">next</button>
